.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;

  /**
* Add a transition to the label and input.
* I'm not even sure that touch-action: manipulation works on
* inputs, but hey, it's new and cool and could remove the 
* pesky delay.
*/

  label,
  .textarea-field,
  .text-field {
    transition: all 0.2s;
    touch-action: manipulation;
  }
  .m3-5 {
    margin-top: 2%;
    margin-left: 5%;
  }

  .text-field {
    font-size: 1.5em;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 4px 7px;
    cursor: text;
    &:focus {
      outline: 0;
      border-bottom: 1px solid #666;

      // Show the placeholder when the input is focused.
      &::-webkit-input-placeholder {
        opacity: 1;
      }
    }
  }
  .textarea-field {
    font-size: 1.5em;
    border: 0;
    border: 1px solid #ccc;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0.5rem;
    padding: 8px 14px;
    cursor: text;
    &:focus {
      outline: 0;
      border: 1px solid #666;

      // Show the placeholder when the input is focused.
      &::-webkit-input-placeholder {
        opacity: 1;
      }
    }
  }

  label {
    text-transform: capitalize;
    letter-spacing: 0.05em;
    width: fit-content;
  }
  /**
* Translate down and scale the label up to cover the placeholder,
* when following an .textarea-field, input (with placeholder-shown support).
* Also make sure the label is only on one row, at max 2/3rds of the
* field—to make sure it scales properly and doesn't wrap.
*/

  .text-field:placeholder-shown + label {
    cursor: text;
    // max-width: 66.66%;
    white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.5);
  }
  .textarea-field::placeholder-shown + label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: right bottom;
    // transform: translate(0, 2.125rem) scale(1.5);
  }

  /**
* By default, the placeholder should be transparent. Also, it should 
* inherit the transition.
*/
  ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }
  ::-webkit-textarea-placeholder {
    opacity: 0;
    transition: inherit;
  }

  /**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when 
* there's something in the input at all.
*/
  .text-field:not(:placeholder-shown) + label,
  .text-field:focus + label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
  }

  .textarea-field:not(:placeholder-shown) + label,
  .textarea-field:focus + label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
  }

  .text-danger {
    border-color: #ee6f57;
    color: #911d08;
    i {
      margin-right: 5px;
    }
  }
}
