@import '../variables.scss';

#header {
  padding: 10px;
  background-color: $mainGreen;
  display: flex;
  justify-content: space-between;
  height: 50px;

  .left {
    flex-grow: 2;
    // flex-basis: 50px;
    align-self: center;
    .header__logo {
      display: flex;
      align-items: center;

      cursor: pointer;
      .fa-list-alt {
        margin-right: 7px;
        font-size: 1.5rem;
        color: $mainOrange;
      }
      .logo-text {
        font-weight: bold;
        color: $mainOrange;
      }
    }
  }

  .right {
    flex-grow: 4;
    display: flex;
    justify-content: flex-end;
    // flex-basis: 200px;
  }
}
