$lightGreen: #28dce2;
$mainGreen: #21999e;
$darkGreen: #008e93;
$mainWhite: #f3f3f3;
$mainDark: #232528;
$mainOrange: #f39233;
$mainBlue: #615dec;

$bgScreen: 1224px;
$mdScreen: 868px;
$smScreen: 472px;
